go 1.26.0

use (
	./libs/contracts
	./libs/kit
	./services/zhicore-admin
	./services/zhicore-auth
	./services/zhicore-comment
	./services/zhicore-content
	./services/zhicore-gateway
	./services/zhicore-id-generator
	./services/zhicore-message
	./services/zhicore-notification
	./services/zhicore-ops
	./services/zhicore-ranking
	./services/zhicore-search
	./services/zhicore-file
	./services/zhicore-user
)
