package ports

import (
	"context"

	"__GO_MODULE__/internal/module/__DOMAIN_NAME__/entity"
)

type Repository interface {
	List(ctx context.Context) ([]entity.Item, error)
	GetByID(ctx context.Context, id string) (*entity.Item, error)
	Save(ctx context.Context, item *entity.Item) error
}
